.conatiner{
    display: grid;
    grid-template-columns: 300px
    
}
.profile-container{
    display: grid;
    grid-template-columns: 25px 1fr;
    column-gap: 10px;
}
.main-image {
    width: 300px;
}
.profile-image{
    width: 25px;
    border-radius: 30px;
}
p{
    margin-top: 0;
    margin-bottom: 0;
}