.container{
    width: 300px;
}
.image-description, .main-image{
    width: 300px;
}
.profile-container{
    display: grid;
    grid-template-columns: 30px 1fr;
}
.profile-image{
    width: 30px ;
}
.p1,.p2, .p3{
    margin-top: 0;
    margin-bottom: 0;
}
